@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

.sentance-beginning {
    font-family: 'Marck Script', cursive;
    text-align: center;
    font-size: 1.2em;
    width: 60%;
    margin: 0 auto;
    padding: 2em 0;
}

/* .home-page-container-pics {
    display: inline;
} */

.container {
    position: relative;
}

.center {
    background-color: rgba(0,0,0,.4);
    padding: 20px;
    color: rgba(255,255,255);
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    font-size: 2em;
    font-weight: normal;
    text-align: center;
}
