body {
    margin: 0;
}

.icon-bar {
    width: 100%; /* Full-width */
    background-color: rgb(29, 28, 28); /* Dark-grey background */
    overflow: auto; /* Overflow due to float */
    height: 2em;
    display: flex;
  }
  
  .icon-bar a {
    text-align: center; /* Center-align text */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 18px; /* Increased font size */
    padding: 10px;
    line-height: 1.8;
  }
  
  .icon-bar a:hover {
    background-color: #000; /* Add a hover color */
  }
  
  .active {
    background-color: rgb(29, 28, 28); /* Add an active/current color */
  }

.left {
    flex: 1;
    margin: 0;
    padding-left: 2em;
}
.right {
    margin: 0;
    padding-right: 2em;
}