<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="headerTop.css" />
    <script src="https://kit.fontawesome.com/8c3b31a33b.js" crossorigin="anonymous"></script>
    <title>Header With Icons</title>
</head>

<body>
    <div class="icon-bar">
        <div class="left">
            <a target="blank" class="active" href="#"><i class="fa fa-instagram"></i></a>
            <a target="blank" href="https://www.facebook.com/OFFICE1BG/?hc_ref=ARRlvK7jttpsEl44x9-94kqq3BRii2oq4CHXzUyTYHMaA34wCq1VbegGbS9baY_UjuQ&ref=nf_target&__xts__[0]=68.ARBh0S6SUhnnlph8h9bpJAmsr5WiMVDpikNzHSPSoQM4SO785V9YDEq3llKprPm0Yk5lVc2flwOX6O82h30BeuXDL_3Co9x9VKF1BJ5rq5uGSlz4ZoK5yAa9MbZfKjgFTO_5MvH9qFAfeKN3ASIisr4yKWUG5v_WBBRrPEETgF9ZDmbZZhUFpB31t1gnki4l8XI3Z_6Uy7_3NMey2vphGuCEL8d8sZ2qAZO0KHH_CQdCM5UsTc4u35aat7bdguQpJL-p1nDm5DS82MdqfnC3Kfb8dFVdU95Zy7Sj38BjaSmtcCuzEkPfcB6Xbl4T7C7BYqrh9V6xm3gqBcUnOsT7fJUaxNqDCzrw2OPWa_ebw4z9Z4g1TPeOGxGKSutzIXC2u52LPonl"><i class="fa fa-facebook"></i></a>
            <a target="blank" href="https://www.youtube.com/channel/UCbCH60UazOyJ8_7_BOyiJDQ"><i class="fa fa-youtube"></i></a>
        </div>
        <div class="right">
            <a href="#"><i class="fa fa-search"><input type="text" id="fname" name="fname"><br></i></a>
            <!-- <a href="#"><i class="fa fa-search"></i></a> -->
            <a href="../components/login/index.html"><i class="fa fa-user"></i></a>
        </div>  
    </div>
</body>

</html>